/* USER PROFILE PAGE */
.wrapper{
    margin-top: 91px;
}
.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 410px;
}
.card-background img {
    /*-webkit-filter: blur(25px);*/
    /*-moz-filter: blur(25px);*/
    /*-o-filter: blur(25px);*/
    /*-ms-filter: blur(25px);*/
    /*filter: blur(25px);*/
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    top: 230px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}
.clicked {
    color: #fff;
    background-color: #FF755A;
    border-color: #ff7353;
}
.mouseover , .btn:hover {
    color: #fff;
    background-color: #ff7f56;
    border-color: #ff7353;
}

@media only screen and (max-width: 500px) {
  .navbar-brand>img {

  width: 50%;
  margin-top: -12px;
}
.container{
  width: : 100%;
}
.wrapper {
 margin-top: 63px;
}
.card.hovercard{
  padding-left: 0px;
    padding-right: 0px;
    width: 500px;
}
.card.hovercard .card-background {
 height: 253px;
}
.btn-group-justified{
  width: 500px;
}
section#bottom{
  width: 500px;
}
section#footer{
  width: 500px;
}
}

/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #ff755a;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: #ff755a;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #ff755a;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  /*padding-left: 20px;*/
  padding-top: 10px;

}
div.bio-tab{
  margin-bottom: 20px;
}

.diamond{
  margin: 20px;
  width: 100px;
  height: 100px;
  background: #ff755a;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: relative;
   }
   .diamond-inner{
     color: #fff;
       font-weight: bold;
       font-size: 1.1em;
       line-height: 1.4em;
       text-align: center;
       transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
       -webkit-transform: rotate(-45deg);
       position: absolute;
       top: 38%;
       left: 3%;
       right: 10%;
   }

   /*tab 2 films*/

table.nm-title-overview-widget-layout{
  margin-top: 20px;
    margin-bottom: 10px;
}
.listo .detail .list_item .image {
    padding: 2px 20px 0 5px;
    float: left;
    margin-bottom: -2px;
}
div.hover-over-image{
  padding-right: 30px;
}
.listo .detail .list_item div.image img, .listo .grid .list_item a img, .listo .grid .list_item div.hover-over-image img {
    box-shadow: 0 1px 5px rgba(0,0,0,0.5);
    z-index: 0;
}

img {
    border: none;
}
img[Attributes Style] {
    height: 209px;
    width: 140px;
}

/*h4 {
    color: #666666;
    font-size: 13px;
    margin: 0.35em 0 0.25em;
    padding: 0;
}*/
.nm-title-overview-widget-layout td.overview-top {
    vertical-align: top;
}
.nm-title-overview-widget-layout td.overview-top a {
    text-decoration: none;
}
p.cert-runtime-genre, .rating_txt, .list_item div.address {
    font-size: 11px;
    color: #666666;
}
p.cert-runtime-genre {
    margin-top: 5px;
    margin-bottom: 8px;
}
/*p {
    margin: 0.5em 0 0.75em;
    line-height: 140%;
    padding: 0;
}*/
.list p.cert-runtime-genre img.absmiddle {
    box-shadow: none;
}
p.cert-runtime-genre img {
    margin-right: 4px;
}
img.absmiddle {
    vertical-align: middle;
    margin-bottom: 0.2em;
}
Inherited from p.cert-runtime-genre
p.cert-runtime-genre, .rating_txt, .list_item div.address {
    font-size: 11px;
    color: #666666;
}

p.cert-runtime-genre {
    margin-top: 5px;
    margin-bottom: 8px;
}
.redesign .ghost {
    color: #CCC;
}
.redesign .ghost {
    color: #CCC;
}
.ghost {
    font-style: normal;
    color: #888;
}
.rating_txt div.metascore.no_ratings {
    margin: auto;
}
.rating_txt div.metascore {
    margin: -21px 0 0 220px;
}

.redesign .mellow {
    color: #999;
}
.redesign .mellow {
    color: #999;
}
.rating_txt div.metascore.no_ratings {
    margin: auto;
}
.rating_txt div.metascore {
    margin: -21px 0 0 220px;
}

.nm-title-overview-widget-layout td.overview-top a {
    text-decoration: none;
}
.list_item a:visited, .list_item a {
    text-decoration: none;
}

.rating_txt div.metascore.no_ratings {
    margin: auto;
}
.rating_txt div.metascore {
    margin: -21px 0 0 220px;
}

.nm-title-overview-widget-layout .outline, .nm-title-overview-widget-layout .txt-block {
    font-size: 11px;
    color: #666666;
}
.nm-title-overview-widget-layout .outline {
    line-height: 140%;
    margin-bottom: 8px;
}

.nm-title-overview-widget-layout td.overview-top a {
    text-decoration: none;
}
.list_item a:visited, .list_item a {
    text-decoration: none;
}
.nm-title-overview-widget-layout .outline, .nm-title-overview-widget-layout .txt-block {
    font-size: 11px;
    color: #666666;
}
.txt-block {
    margin: 0.35em 0;
}

h5.inline {
    display: inline;
    padding: 0 0.5em 0 0;
}
layout .txt-block {
    font-size: 11px;
    color: #666666;
}
.txt-block {
    margin: 0.35em 0;
}
.overview-bottom {
    padding-top: 5px;
}
.btn2.small {
    font-size: 10px;
}
.btn2.btn2_simple {
    padding: 0 0.4em;
}
.wlb_wrapper {
    position: relative;
}
.btn2_alert {
    bottom: 22px;
    left: -40px;
    padding: 5px 0 0;
    position: absolute;
    width: 225px;
    z-index: 5;
    color: #333333;
}
.btn2 .btn2_text, .btn2 .btn2_glyph {
    font-weight: normal;
    display: none;
    margin: 0;
}

.btn2.btn2_text_on .btn2_text {
    display: inline-block;
    margin: 0 .4em;
    vertical-align: middle;
}
.btn2 .btn2_text, .btn2 .btn2_glyph {
    font-weight: normal;
    display: none;
    margin: 0;
}
