body{
    background:white;
    color:black;
}
.film-details{
    /*background: white;*/
    margin-top: 100px;
}

.badge{
    background:#ff755a;
}
.bold{
    color:black;
    font-weight:bold;
    margin-right:10px;
}
p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #3f464a;
}